<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/security 
                http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http pattern="/js/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/images/**" security="none" />
	<http pattern="/favicon.ico" security="none" />
	<http pattern="/*.jsp" security="none" />

	<http use-expressions="true" entry-point-ref="authenticationProcessingFilterEntryPoint">
	
		<logout/>
		
		<custom-filter position="FORM_LOGIN_FILTER" ref="loginFilter" />
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="securityFilter" />
		
	</http>
	
	<!-- 未登录的切入点 -->
	<beans:bean id="authenticationProcessingFilterEntryPoint" class="com.baidu.foo.ssh.core.auth.AuthenticationProcessingFilterEntryPoint" />
    
    <!--
    <beans:bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">  
        <beans:property name="loginFormUrl" value="/login.jsp" />  
    </beans:bean>
	-->
	
	<!-- 登录过滤器 -->
	<beans:bean id="loginFilter" class="com.baidu.foo.ssh.core.auth.LoginFilter">
		<beans:property name="filterProcessesUrl" value="/j_spring_security_check" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" />
		<beans:property name="authenticationFailureHandler" ref="authenticationFailureHandler" />
	</beans:bean>
	
	<beans:bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
	</beans:bean>
    
	<beans:bean id="authenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">    
        <beans:property name="defaultFailureUrl" value="/authentication_failure.jsp" />
    </beans:bean>

	<!-- 访问控制验证器Authority -->
	<beans:bean id="securityFilter" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<!-- 用户拥有的权限 -->
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<!-- 用户是否拥有所请求资源的权限 -->
		<beans:property name="accessDecisionManager" ref="accessDecisionManager" />
		<!-- 资源与权限对应关系 -->
		<beans:property name="securityMetadataSource" ref="securityMetadataSource" />
	</beans:bean>
	
	<beans:bean id="userDetailService" class="com.baidu.foo.ssh.core.auth.UserDetailServiceImpl" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailService">
			<!--
			<password-encoder hash="md5" />
			-->
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="accessDecisionManager"
        class="org.springframework.security.access.vote.AffirmativeBased">
        <beans:property name="allowIfAllAbstainDecisions" value="false"/>
        <beans:property name="decisionVoters">
        	<beans:list>
        		<beans:bean class="org.springframework.security.access.vote.RoleVoter" />
        	</beans:list>
        </beans:property>
    </beans:bean>
    
    <beans:bean id="securityMetadataSource" class="com.baidu.foo.ssh.core.auth.SecurityMetadataSource" />

</beans:beans>