<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.foo.ssh.account.dao.UserDao">

	<resultMap type="com.baidu.foo.ssh.account.bo.SysUser" id="userResultMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<!--
		<result column="password" property="password" jdbcType="VARCHAR" />
		-->
		<result column="enabled" property="enabled" jdbcType="BOOLEAN" />
	</resultMap>

	<select id="findUserByUsername" parameterType="java.lang.String" resultMap="userResultMap">
		select id, username, enabled from user
		<where>
			username = #{username, jdbcType=VARCHAR}
		</where>
	</select>
	
	<insert id="save" parameterType="com.baidu.foo.ssh.account.bo.SysUser" keyProperty="id">
		insert into user (id, username, enabled) 
		values (
			#{id, jdbcType=BIGINT}, 
			#{username, jdbcType=VARCHAR},
			#{enabled, jdbcType=BOOLEAN}
		) 
	</insert>



</mapper>

